@model ObservacionesModel

@{
    ViewData["Title"] = "Editar observaciones";
}

<h1>Editar Observaciones</h1>
<hr />
<div class="row g-3 form-floating">
    <div class="col-md-6">
        <form asp-action="Editar" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdObservacion" />
            <div class="col-md-6 form-group">
                <label asp-for="ObservacionesDetalle" class="control-label"></label>
                <input asp-for="ObservacionesDetalle" class="form-control" />
                <span asp-validation-for="ObservacionesDetalle" class="text-danger"></span>
            </div>
            <br />
            <div class="col-md-6 form-group">
                <input type="submit" value="Grabar" class="btn btn-primary" /> | 
                <a asp-action="Index" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>