@model ObservacionesModel

@{
    ViewData["Title"] = "Registro de observaciones";
}

<h1>Registro de observaciones</h1>
<form method="post" class="form-floating">
    <div class="form-group">
        <label asp-for="ObservacionesDetalle"></label>
        <input class="form-control" asp-for="ObservacionesDetalle" />
        <span asp-validation-for="ObservacionesDetalle" class="text-danger"></span>
    </div>

    <br />
    <div ckass="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Registrar</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
