@model UsuarioModel

@{
    ViewData["Title"] = "Detalles usuario";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(UsuarioModel => UsuarioModel.UsuarioSistema)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(UsuarioModel => UsuarioModel.UsuarioSistema)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(UsuarioModel => UsuarioModel.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(UsuarioModel => UsuarioModel.Nombre)
        </dd>        
    </dl>
</div>
<div>
    <a asp-action="Editar" class="btn btn-warning" asp-route-id="@Model?.IdUsuario">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
</div>