@model OperacionRealizadaModel

@{
    ViewData["Title"] = "Eliminar operación";
}

<h1>Eliminar</h1>

<div>
    <h4>¿Estas seguro de eliminar esta operación?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(OperacionRealizadaModel => OperacionRealizadaModel.OperacionRealizada)
        </dt>        
    </dl>
</div>
<div>
    <form asp-action="Eliminar" method="post">
        <input type="hidden" asp-for="IdOperacionRealizada" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>