@model EstadoModel

@{
    ViewData["Title"] = "Registro de Estados";
}

<h1>Registro de Estados</h1>
<form method="post" class="form-floating">
    <div class="form-group">
        <label asp-for="NombreEstado">Nombre del Estado</label>
        <input class="form-control" asp-for="NombreEstado" />
        <span asp-validation-for="NombreEstado" class="text-danger"></span>
    </div>

    <br />
    <div ckass="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Registrar</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
